CREATE TABLE IF NOT EXISTS disputes (
    id SERIAL PRIMARY KEY,
    result_id INTEGER REFERENCES match_results(id) ON DELETE CASCADE,
    user_id INTEGER REFERENCES users(id) ON DELETE CASCADE,
    reason TEXT NOT NULL,
    evidence_url TEXT,
    status VARCHAR(20) DEFAULT 'open', -- 'open', 'resolved', 'dismissed'
    admin_response TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
